@import url("cabecalho.css");
@import url("cartao.css");
@import url("corpo.css");
@import url("rodape.css");

* {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0rem;
    padding: 0rem;
}

body {
    /* border: 0.5rem solid aqua; */
    min-height: 100vh; /* view-port height */
    display: flex;
    flex-direction: column;
}

section {
    /* border: .2rem solid blue; */
    display: flex;
    flex: 1;
}

nav {
    /* border: .2rem solid yellow; */
    width: 10rem;
    background-color: #eee;
    padding: .5rem;
}

.container {
    display: flex;
    flex: 1;
    padding: 1rem;
    flex-wrap: wrap;
    gap: .8rem;
    justify-content: left;
}

footer {
    /* border: .2rem solid green; */
    height: 4rem;
    padding: .5rem;
    background-color: #252323;
    color: #eee;
    /* display: flex; */
    /* justify-content: center; alinhar horizontalmente */
    /* align-items: center; */
    /* align-content: center; */
}