@import url("cartao.css");

* {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0rem;
    padding: 0rem;
}

body {
    /* border: 0.5rem solid aqua; */
    min-height: 100vh; /* view-port height */
    display: flex;
    flex-direction: column;
}

header {
    /* border: 0.2rem solid red; */
    height: 4rem;
    display: flex;
    /* justify-content: center; alinhar horizontalmente */
    align-items: center;
    align-content: center;
    padding: .5rem;
    background-color: #252323;
    color: #eee
}

.logo {
    border: .1rem solid blue;
    background-color: blue;
    color: #eee;
    font-weight: bold;
    border-radius: 100%;
    width: 1rem;
    height: 1rem;
    padding: .7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-right: .7rem;
}

.titulo {
    /* border: .2rem solid yellow; */
    width: 100%;
}

section {
    /* border: .2rem solid blue; */
    display: flex;
    flex: 1;
}

nav {
    /* border: .2rem solid yellow; */
    width: 10rem;
    background-color: #eee;
    padding: .5rem;
}

.container {
    display: flex;
    flex: 1;
    padding: 1rem;
    flex-wrap: wrap;
    gap: .8rem;
    justify-content: left;
}

footer {
    /* border: .2rem solid green; */
    height: 4rem;
    padding: .5rem;
    background-color: #252323;
    color: #eee;
    /* display: flex; */
    /* justify-content: center; alinhar horizontalmente */
    /* align-items: center; */
    /* align-content: center; */
}